<% set_title I18n.t("brand.home") %>

<br/>

<div class="well">
  <div class="row-fluid">

    <div class="span8">

      <h3><%= I18n.t("brand.welcome_message") %></h3>
      <p><%= I18n.t("brand.welcome_search_label") %></p>

      <div class="tab-content">
        <div id="simpleSearch" class="tab-pane active">
          <%= render_aspace_partial :partial => "simple_search" %>
        </div>
        <div id="advancedSearch" class="tab-pane">
          <%= render_aspace_partial :partial => "advanced_search" %>
        </div>
      </div>

      <ul class="search-switcher">
        <li class="active">
          <a href="#simpleSearch" data-toggle="tab"><%= I18n.t("actions.hide_advanced_search") %></a>
        </li>
        <li>
          <a href="#advancedSearch" data-toggle="tab"><%= I18n.t("actions.show_advanced_search") %></a>
        </li>
      </ul>

    </div>
    <div class="span4">

    </div>
  </div>
</div>
<div class="well">
  <div class="row-fluid">
    <div class="col-sm-3">
      <h3>Discover</h3>
      <p class="index-category">
        The unique holdings of OU's Archival Research Collections (ARC) all in one unified database.
      </p>
      <p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#discoverModal">
          More Info
        </button>
      </p>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h3>Connect</h3>
      <p class="index-category">
        Make instant connections between historic documents and materials that are house across OU's campus.
      </p>
      <p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#connectModal">
          More Info
        </button>
      </p>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <h3>Join</h3>
      <p class="index-category">
        Learn more about ARC and how your OU repository could benefit from membership.
      </p>
      <p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinModal">
          More Info
        </button>
      </p>
    </div>
  </div>
</div>

<div class="well" id="quotes">
  <div class="row-fluid">
    <div class="col-sm-7">
      <img class="profile" src="/assets/images/samhuskey.png" alt="Sam Huskey"/>
      <p class="quote">
        “Information doesn’t do any good if it isn’t openly and easily accessible. That is why intuitive, user-friendly
        interfaces are essential for archival collections.”<br>
        <span class='quote-author'>
          Dr. Samuel J. Huskey<br>
          Chair and Associate Professor<br>
          Department of Classics and Letters
        </span>
      </p>
    </div>
  </div>
</div>
